logs
target
.bsp
.metals
.idea
.idea_modules
.classpath
.project
.settings
.vscode
/RUNNING_PID
examples
fort.16
**/.access^
**/.attribute^
**/*.jar
*.json
*attach*
.Rproj.user
*.Rproj
*.RData
*.Rhistory