logs
target
.bsp
.metals
.idea
.idea_modules
.classpath
.project
.settings
.vscode
/RUNNING_PID
examples/*
!examples/airline
!examples/hlfsemp
examples/airline/*
examples/hlfsemp/*
!examples/airline
!examples/airline/airline.json
!examples/airline/airline.pretty.json
!examples/airline/airline.spc
!examples/hlfsemp/emp.json
!examples/hlfsemp/emp.pretty.json
!examples/hlfsemp/memp.spc
!examples/hlfsemp/femp.spc
!examples/hlfsemp/emp.spc
!examples/hlfsemp/emp.mta
fort.16
**/.access^
**/.attribute^
**/*.jar
*.json
!examples/airline/*.json
!examples/hlfsemp/*.json
*attach*
.Rproj.user
*.Rproj
*.RData
*.Rhistory
**/.bloop
project
!project/assembly.sbt
!project/build.properties
docs
scratch.txt